.navegacao__botao {
    background-color: var(--cor-botao);
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    height: 44px;
    padding: 0.625rem 1rem;
    text-decoration: none;
}

.navegacao__botao:hover {
    border-bottom: 2px solid #fc6621;
    border-radius: 10px;
    color: #cecdcd;
}