.mensagem {
    align-items: center;
    background-color: var(--cor-descricao-texto);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .mensagem {
        padding: 1.25rem 1rem;
    }
}