.banner__titulo {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.75rem;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 2.875rem;
    }
}