.livros__card {
    display: flex;
    flex-direction: column;
    height: 644px;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 302px;
}

.livros--indisponivel {
    opacity: 0.3;
}